.project-section {

    min-height: 100vh;
    
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 1rem; 
}
.projects-container{
    background: linear-gradient(180deg, #1f2937 0%, #111827 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-radius: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    
    margin: 2rem auto;
    box-shadow: 0 4px 24px rgba(0,0,0,0.15);
    flex-wrap: wrap;
    flex-direction: row;
}
.projects-title{
  flex: 1 1 100%;
    color: hsl(220, 60%, 70%);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    margin:0;
    margin-right: 2rem;
    margin-bottom: .5rem;
}

.projects-grid {
    display: grid;

    grid-template-columns: 1fr; 
    gap: 30px; 

}
@media (min-width: 768px) {

    
    

    .projects-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (min-width: 1200px) {
    .projects-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 768px) {
    .projects-title{
        flex-basis: auto;
        font-size: 1.8rem;
        text-align: center;
        margin-right: 0;
        margin-bottom: 0.25rem;
    }
}