
.about-container {
   background: linear-gradient(180deg, hsl(215, 28%, 17%) 0%, #111827 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-radius: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    
    box-sizing: border-box;
    
    margin: 2rem auto;
    box-shadow: 0 4px 24px rgba(0,0,0,0.15);
    flex-wrap: wrap;
    flex-direction: row;
}
.about-title {
    flex: 1 1 300px;
    color: hsl(220, 60%, 70%);
    font-size: 250%;
    font-weight: 700;
    text-align: left;
    margin:0;
    margin-right: 2rem;
}


.summary-paragraph {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 1.2rem;
    color: hsl(220, 15%, 56%);
    text-indent: 0px; 
}