.tech-container {
     background: linear-gradient(180deg, #1f2937 0%, #111827 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-radius: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    
    margin: 2rem auto;
    box-shadow: 0 4px 24px rgba(0,0,0,0.15);
    flex-wrap: wrap;
    flex-direction: row;
}

.tech-title {
flex: 1 1 100%;
    color: hsl(220, 60%, 70%);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    margin:0;
    margin-right: 2rem;
}

.tech-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 30px;
}

@media (min-width: 768px) {
    .tech-grid {
        grid-template-columns: repeat(2, 1fr); 
        width: fit-content; 
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .tech-grid {
        grid-template-columns: repeat(4, 1fr);
        width: fit-content;
        margin: 0 auto;
    }
}

.tech-category-card {
    background: linear-gradient(180deg, hsl(215, 28%, 22%) 0%, hsl(221, 42%, 14%) 100%);
    padding: 20px;
    border-radius: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tech-category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px hsl(218, 35%, 20%);
}

.category-heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: hsl(220, 60%, 70%);
    margin-bottom: 10px;
}

.category-description {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: .9rem;
    color: hsl(220, 15%, 56%);
   
    text-indent: 0px; 
}

.skills-icon-grid {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.skill-item {
    
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: .7rem;
    
    color: hsl(220, 15%, 56%);
}

.skill-item svg {
    width: 20px;
    margin-right: 6px;
}

.skill-name {
    line-height: 1;
}