
.navbar-header {
 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(31, 41, 55, 0.4); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    backdrop-filter: blur(5px); 
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    padding: 1rem 2rem;
}
.navbar-logo-group {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s;
 
}

.navbar-logo {
    font-size: 1rem;
    font-weight: 300;
    color: #9ca3af;
    text-transform: uppercase;
    transition: color 0.3s;
}

.navbar-profile-pic {
    width: 32px; 
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; 
    border: 1px solid #9ca3af; 
}
.navbar-logo:hover {
    color: hsl(220, 60%, 70%);
 }

.navbar-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin-left: 1.5rem;
}

.navbar-links a {
    color: #9ca3af; 
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
    padding-bottom: 5px; 
}

.navbar-links a:hover {
    color: #f3f4f6;
}


.navbar-links a.active {
    color: hsl(220, 60%, 70%);
    border-bottom: 2px solid hsl(220, 60%, 70%);
}


.menu-toggle {
    display: none; 
    background: none;
    border: none;
    color: #f3f4f6;
    font-size: 1rem;
    cursor: pointer;
}


.navbar-links.mobile {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
align-items: center; 
    justify-content: center;
    
    background: rgba(31, 41, 55, 0.48);
    position: absolute;
    top: 100%; 
    left: 0;
    padding: 0 0;

}

.navbar-links.mobile li {

    margin: 0.25rem 0.25rem;
    width: 100%;
    font-size: 1.1rem;
}


@media (max-width: 768px) {
    .navbar-links.desktop {
        display: none; 
    }
    .navbar-profile-pic {
        width: 28px;
        height: 28px;
    }
    .navbar-logo {
        font-size: 1.2rem;
        min-width: 0;
        overflow: hidden; 
        white-space: nowrap;
    }
    .menu-toggle {
        display: block; 
    }
    .navbar-links.mobile li {
   
    margin: 0 5px; 
    text-align: center;
    width: auto; 
}
    .navbar-links.mobile {
      
        display: flex;
        
    }
}