
*,
*::before,
*::after {

  box-sizing: border-box; 

  margin: 0; 
  padding: 0;
}

html
{
  
  font-family: 'Arial', sans-serif; 
  line-height: 1.5;

  overflow-x: hidden; 
  overflow-y: auto; 
}

#root {
  min-height: 100vh;

  width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
::-webkit-scrollbar {
  width: 20px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background:hsla(215, 28%, 17%,.4); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsla(220, 60%, 70%,.4); 
  border-radius: 10px;
  border: 2px solid #2a3848;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(220, 60%, 70%, 0.7); 
}